[submodule "libs/Cross.Codebot"]
	path = libs/Cross.Codebot
	url = git@github.com:artem78/Cross.Codebot.git
[submodule "libs/country-flags"]
	path = libs/country-flags
	url = https://github.com/luapower/country-flags.git
