_CAMERA_BW ICON res/camera_bw.ico
_CAMERA_FLASH_1 ICON res/camera_flash1.ico
_CAMERA_FLASH_2 ICON res/camera_flash2.ico
_CAMERA_FLASH_3 ICON res/camera_flash3.ico
_CAMERA_FLASH_4 ICON res/camera_flash4.ico
_CAMERA_FLASH_5 ICON res/camera_flash5.ico
_CAMERA_FLASH_6 ICON res/camera_flash6.ico
_CAMERA_FLASH_7 ICON res/camera_flash7.ico
_START_ICON BITMAP res/start.bmp
_STOP_ICON BITMAP res/stop.bmp
