1 VERSIONINFO
FILEVERSION 1,2,0,0
PRODUCTVERSION 1,2,0,0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "CompanyName", "\000"
		VALUE "FileDescription", "Automatic screenshot maker\000"
		VALUE "FileVersion", "1.2\000"
		VALUE "InternalName", "\000"
		VALUE "LegalCopyright", "\000"
		VALUE "LegalTrademarks", "\000"
		VALUE "OriginalFilename", "\000"
		VALUE "ProductName", "Auto Screenshot\000"
		VALUE "ProductVersion", "1.2\000"
		VALUE "Comments", "\000"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 1033 1252
}
}